*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    list-style-type: none;
}

.container{
    background-color: blueviolet;
    color: whitesmoke;
    padding: 10px;
}

.log{
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}

.taskContainer{
    position: absolute;
    margin-top: 80px;
    margin-left:250px;
}

#task::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1rem;
    padding: 20px;
    margin: 10px;
    font-weight: bolder;
}

#task{
  border:1px solid blueviolet;
  border-radius: 20px;
  padding: 7px;
  overflow: hidden;
  display: flex;
  width: 300px;
}

#addTask{
    padding: 7.5px;
    border-radius: 20px;
    background:blueviolet;
    color: whitesmoke;
    border: none;
    display: flex;
    position: absolute;
    top: 0;
    left: 78%;
    font-weight: bolder;
}

#addTask:hover{
    cursor: pointer;
}

.deleteButton{
    position: absolute;
    border: none;

}

.deleteButton{
    padding: 5px;
    border-radius: 20px;
    background:blueviolet;
    color: whitesmoke;
    font-weight: bolder;
}